* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
}

h1,
h3,
h4,
li
 {
  color: red;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

li:hover {
    cursor: pointer;
}

#map {
  bottom:0px;
  height: 60%;
  left: 0%;
  position: absolute;

}

#pano {
  width: 200px;
  height: 200px;
}
